﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")">
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"*@>
    @Styles.Render("~/Content/bundle-style")
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/Login.js")"></script>
    <script src="@Url.Content("~/Scripts/script.js")"></script>*@
    @Scripts.Render("~/Scripts/bundle-script")
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="part-menu">
        <div class="menu-header">
            <img id="logo" src="~/img/logo.png" alt=""><a id="logo-name" href="#">Quan ly</a>
            <a id="menu-logo" href="#"></a>
        </div>
        <div class="menu-inner">
            <h4>DASHBOARDS</h4>
            <nav class="menu-nav">
                <ul>
                    @*<li class="current"><a href="#">Overview</a></li>*@
                    <li class="current"><a href="@Url.Action("List", "Faculty")">Faculties</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Subjects</a></li>
                </ul>
            </nav>
            <h4>SETTING</h4>

            <p id="logout"><a href="#" onclick="Login.Logout();">Log out</a></p>
        </div>
    </div>
    <div class="part-info">
        <h4>DASHBOARD</h4>
        <div class="info">
            @*<div class="info-header">
                    <p>@ViewBag.Title</p>
                </div>*@
            <hr>
            <div class="info-inner">
                <div id="content-page">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.menu-nav').find('a').click(function () {
                var navPage = $(this).text();
                switch (navPage) {
                    case 'Faculties':
                        break;
                    case 'Classes':
                        Load.LoadPage('/Class/List');
                        break;
                    case 'Students':
                        Load.LoadPage('/Student/List');
                        break;
                    case 'Teachers':
                        Load.LoadPage('/Teacher/List');
                        break;
                    case 'Subjects':
                        Load.LoadPage('/Subject/List');
                        break;
                    default:
                        break;
                }

                $('.menu-nav').find('li').removeClass('current');
                $(this).parent().addClass('current');
            });
        });
    </script>
</body>
</html>