﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/Login.css")" />*@
    @Styles.Render("~/Content/css")
</head>
<body>
    <section>
        <p>Dang nhap</p>
        <form class="form-horizontal" id="form-login">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    @*<input type="email" class="form-control" id="email" placeholder="Enter email">*@
                    @*@Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Enter email" })*@
                    <input id="username" name="Username" type="text" class="form-control" placeholder="Enter your email" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter password">*@
                    @*@Html.Password("Password", null, new { @class = "form-control", placeholder = "Enter password" })*@
                    <input id="password" type="password" name="Password" class="form-control" placeholder="Enter your password" />
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" onclick="Login.Login();">Login</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p id="error-message"></p>
                </div>
            </div>
        </form>
    </section>

    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/Login.js")"></script>*@
    @Scripts.Render("~/Scripts/script")
    <script>
        $(document).ready(function () {
            $('#username, #password').keydown(function (e) {
                if (e.which == 13) {
                    if ($('#username').val() != '' && $('#password').val() != '') {
                        Login.Login();
                    } else {
                        $('#error-message').text('You must enter all of the textbox');
                    }
                }
            });
        });
    </script>
</body>
</html>

