﻿
<h2>Them moi ban ghi</h2>

<br />

<form class="formAction">

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
        <div class="col-md-6">
            <select name="FacultyId" class="form-control required" id="selectFaculty">
                <option></option>
                @foreach (var item in ViewData["Faculties"] as List<WebMvc_Training.Business.ViewModel.FacultyViewModel>)
                {
                    var facultyId = (int)ViewData["FacultyId"];
                    if (item.FacultyId == facultyId)
                    {
                        <option value="@item.FacultyId" selected>@item.FacultyName</option>
                    }
                    else
                    {
                        <option value="@item.FacultyId">@item.FacultyName</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Class Name: </label>
        <div class="col-md-6">
            <select name="ClassId" class="form-control required">
                <option></option>
                @foreach (var item in ViewData["Classes"] as List<WebMvc_Training.Business.ViewModel.ClassViewModel>)
                {
                    <option value="@item.ClassId">@item.ClassName</option>
                }
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Student Name: </label>
        <div class="col-md-6">
            <input class="form-control required" name="StudentName" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Address : </label>
        <div class="col-md-6">
            <input class="form-control" name="Address" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Birthday : </label>
        <div class="col-md-6">
            <input class="form-control" name="Birthday" type="date" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Phone : </label>
        <div class="col-md-6">
            <input class="form-control" name="Phone" type="number" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Note : </label>
        <div class="col-md-6">
            <input class="form-control" name="Note" />
        </div>
    </div>

    <br />

    <div style="float:left;">
        <input type="button" class="btn btn-primary" value="Create" style="width: 80px;" onclick="Load.Action('/Student/CreatePost', '/Student/List')" />

        <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Student/List');" />
    </div>

    <div style="clear: left;"></div>

    <br />

    <p id="error"></p>
</form>

<input type="hidden" id="status" value="1" />

<script>
    $('#selectFaculty').change(function () {
        Load.LoadPage('/Student/Create', $(this).val());
    });
</script>