﻿@model WebMvc_Training.Business.ViewModel.StudentViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Thong tin ca nhan</a></li>
        <li class="tabInfo"><a href="#tab2primary" data-toggle="tab">Thong tin diem</a></li>
    </ul>
</div>
<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">
            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">StudentId</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.StudentId" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">StudentName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.StudentName" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">ClassName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@ViewData["ClassName"]" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">FacultyName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@ViewData["FacultyName"]" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Birthday</label>
                <div class="col-md-6">
                    <input class="form-control" type="date" value="@Model.Birthday.Date.ToString("yyyy-MM-dd")" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Address</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Address" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Phone</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Phone" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Note</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Note" disabled />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2primary">

            <div class="form-inline">
                <label style="width: 60px; float: left;">Hoc ki : </label>
                <select class="form-control col-md-6" style="margin-top: -6px;">
                    @foreach (var item in ViewData["Semesters"] as List<WebMvc_Training.Business.ViewModel.SemesterViewModel>)
                    {
                        <option value="@item.SemesterId">@item.SemesterName</option>
                    }
                </select>

                <div style="clear: both;"></div>
            </div>

            <br/>

            <div id="tabContent">

            </div>
            
        </div>
    </div>
</div>

<br />
<br />

<input type="button" class="btn btn-primary back" value="Back" style="width: 80px;" />

<script>
    $('.back').click(function () {
        $('#content-page').load('/Student/List', { 'facultyId': @ViewData["FacultyId"], 'classId': @Model.ClassId });
    });

    $('.tabInfo').click(function () {
        $('#tabContent').load('/GradeStudent/List', {'studentId': @Model.StudentId, 'semesterId' : 1 });
    });

    $('select').change(function () {
        $('#tabContent').load('/GradeStudent/List', {'studentId': @Model.StudentId, 'semesterId' : $(this).val() })
    });
</script>