﻿@model WebMvc_Training.Business.ViewModel.StudentViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Chinh sua thong tin</a></li>
        <li class="tabInfo"><a href="#tab2primary" data-toggle="tab">Chinh sua diem</a></li>
    </ul>
</div>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">

            <form class="formAction">
                <input type="hidden" value="@Model.StudentId" name="StudentId" />
                <input type="hidden" value="@Model.ClassId" name="ClassId" />

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">FacultyName</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@ViewData["FacultyName"]" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">ClassName</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@ViewData["ClassName"]" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">StudentName</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.StudentName" name="StudentName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Birthday</label>
                    <div class="col-md-6">
                        <input class="form-control" type="date" value="@Model.Birthday.Date.ToString("yyyy-MM-dd")" name="Birthday" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Address</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.Address" name="Address" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Phone</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.Phone" name="Phone" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Note</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.Note" name="Note" />
                    </div>
                </div>

                <br />

                <div style="float:left;">
                    <input type="button" class="btn btn-primary" value="Update" style="width: 80px;" onclick="Load.Action('/Student/EditPost', '/Student/List')" />

                    <input type="button" class="btn btn-primary back" value="Back" style="width: 80px;" />
                </div>

                <div style="clear: left;"></div>

                <br />

                <p id="error"></p>
            </form>

        </div>
        <div class="tab-pane fade" id="tab2primary">

            <div class="form-inline">
                <label style="width: 60px; float: left;">Hoc ki : </label>
                <select class="form-control col-md-6" style="margin-top: -6px;">
                    @foreach (var item in ViewData["Semesters"] as List<WebMvc_Training.Business.ViewModel.SemesterViewModel>)
                    {
                        <option value="@item.SemesterId">@item.SemesterName</option>
                    }
                </select>

                <div style="clear: both;"></div>
            </div>

            <br />

            <div id="tabContent">

            </div>

        </div>
    </div>
</div>

<input type="hidden" id="status" value="1" />

<script>
    $('.back').click(function () {
        $('#content-page').load('/Student/List', { 'facultyId': @ViewData["FacultyId"], 'classId': @Model.ClassId });
    });
    $('.tabInfo').click(function () {
        $('#tabContent').load('/GradeStudent/ListPlus', {'studentId': @Model.StudentId, 'semesterId' : 1 });
    });

    $('select').change(function () {
        $('#tabContent').load('/GradeStudent/ListPlus', {'studentId': @Model.StudentId, 'semesterId' : $(this).val() })
    });
</script>



