﻿@model IEnumerable<WebMvc_Training.Business.ViewModel.StudentViewModel>

<h2>Danh sach sinh vien</h2>

<br />

<div class="form-inline" style="margin-left: 2px;">
    <div class="form-group" style="float:left;">
        <label style="float: left; width: 60px;">Faculty : </label>
        <select id="facultySelect" class="form-control col-md-6" style="margin-top: -6px;">
            <option value="0"></option>
            @foreach (var item in ViewData["Faculties"] as List<WebMvc_Training.Business.ViewModel.FacultyViewModel>)
            {
                int facultyId = (int)ViewData["FacultyId"];
                if (item.FacultyId == facultyId)
                {
                    <option value="@item.FacultyId" selected>@item.FacultyName</option>
                }
                else
                {
                    <option value="@item.FacultyId">@item.FacultyName</option>
                }
            }
        </select>

        <div style="clear: both;"></div>
    </div>

    <div class="form-group" style="margin-left: 80px;">
        <label style="float: left; width: 60px;">Class : </label>
        <select id="classSelect" class="form-control col-md-6" style="width: 80px; margin-top: -6px;">
            <option value="0"></option>
            @foreach (var item in ViewData["Classes"] as List<WebMvc_Training.Business.ViewModel.ClassViewModel>)
            {
                int classId = (int)ViewData["ClassId"];
                if (item.ClassId == classId)
                {
                    <option value="@item.ClassId" selected>@item.ClassName</option>
                }
                else
                {
                    <option value="@item.ClassId">@item.ClassName</option>
                }
            }
        </select>
        <div style="clear: both;"></div>
    </div>

    <div style="clear:both;"></div>
</div>

@*<div class="form-inline">
    <div class="col-md-6" style="margin-left: -28px; font-size: 120%;">
        <div class="form-group">
            <label class="col-md-4">Faculty</label>
            <div class="col-md-6">
                <select id="facultySelect" class="form-control col-md-6" style="margin-top: -6px;">
                    <option value="0"></option>
                    @foreach (var item in ViewData["Faculties"] as List<WebMvc_Training.Business.ViewModel.FacultyViewModel>)
                    {
                        int facultyId = (int)ViewData["FacultyId"];
                        if (item.FacultyId == facultyId)
                        {
                            <option value="@item.FacultyId" selected>@item.FacultyName</option>
                        }
                        else
                        {
                            <option value="@item.FacultyId">@item.FacultyName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4" style="font-size: 120%;">Class</label>
            <div class="col-md-6">
                <select id="classSelect" class="form-control col-md-6" style="width: 60px; margin-top: -6px;">
                    <option value="0"></option>
                    @foreach (var item in ViewData["Classes"] as List<WebMvc_Training.Business.ViewModel.ClassViewModel>)
                    {
                        int classId = (int)ViewData["ClassId"];
                        if (item.ClassId == classId)
                        {
                            <option value="@item.ClassId" selected>@item.ClassName</option>
                        }
                        else
                        {
                            <option value="@item.ClassId">@item.ClassName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>*@

<br />
<br />

<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Class</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{ int i = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.StudentName</td>
                <td>@item.ClassName</td>
                <td><a href="#" onclick="Load.LoadPage('/Student/Detail', @item.StudentId)">Detail</a></td>
                <td><a href="#" onclick="Load.LoadPage('/Student/Edit', @item.StudentId)">Edit</a></td>
                <td><a href="#" onclick="Load.DeleteAction('/Student/Delete', '/Student/List', @item.StudentId, 1)">Delete</a></td>
            </tr>

            i++;
        }
    </tbody>
</table>

<br />

<input type="button" value="Create" class="btn btn-primary" style="width: 80px;" onclick="Load.LoadPage('/Student/Create');" />

<script>
    $('select').change(function () {
        $('#content-page').load('/Student/List', { 'facultyId': $('#facultySelect').val(), 'classId': $('#classSelect').val() });
    });
</script>
