﻿@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #252830;
	font-family: 'Alegreya Sans', sans-serif;
	color: #67727A;
	width: 80%;
	margin: auto;
	margin-top: 30px;
}

img {
	width: 50px;
	height: auto;
}

h4 {
	font-size: 90%;
}

p {
	font-size: 160%;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #67727A;
}

#logo {
	float: left;
}

#logo-name {
	font-size: 180%;
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	color: #67727A;
}

#menu-logo {
	display: hidden;
	float: right;
	background: url(../img/nav.png) no-repeat left;
}

#logout {
	margin-left: 15px;
	font-size: 120%;
}

#logout a {
	color: white;
}

.part-menu {
	width: 16%;
	float: left;
}

.part-info {
	width: 78%;
	float: right;
}

.menu-header {
	width: 100%;
	height: 80px;
}

.menu-inner {
	margin-top: 40px;
	display: hidden;
}

.info-header p {
	color: white;
	font-size: 200%;
}

ul {
	list-style-type: none; 
}

ul > li {
	line-height: 280%;
	padding-left: 15px;
}

ul > li > a {
	color: white;
	font-size: 120%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.current {
	border: 1px solid #000;
	border-radius: 6px;
	background-color: #1997C6; 
}

.current > a {
	color: white;
}

.pagination {
	display: inline-block;
	border: 2px solid #51586a;
	border-radius: 5px;
}

.pagination a {
	background-color: #252830;
	color: white;
	float: left;
	padding: 10px 16px;
	text-decoration: none;
}

.pagination a.pag-num {
	border-left: 2px solid #51586a;
	border-right: 2px solid #51586a;
}

.pagination a.active {
	background-color: #51586a;
}

/*Start tab*/

.panel-heading {
    margin-left: -14px;
}

.panel-body {
    border-style: solid;
    border-width: 2px;
    margin-top: -12px;
}

/*End*/
@media screen and (max-width: 720px) {
    .part-menu {
		width: 100%;
	}

	.part-info {
		width: 100%;
		margin-left: 0;
	}

	#menu-logo {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin-top: -20px;
	}

	.menu-inner {
		display: none;
	}
}