﻿
@model WebMvc_Training.Business.ViewModel.ClassViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Thong tin</a></li>
    </ul>
</div>
<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">
            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">ClassId</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.ClassId" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">ClassName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.ClassName" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">FacultyName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.FacultyName" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Description</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="5" disabled>@Model.Description</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Class/List', @Model.FacultyId);" />