﻿@model WebMvc_Training.Business.ViewModel.ClassViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Chinh sua thong tin</a></li>
        <li><a href="#tab2primary" data-toggle="tab">Classes</a></li>
        <li><a href="#tab3primary" data-toggle="tab">Student</a></li>
    </ul>
</div>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">

            <form class="formAction">
                <input type="hidden" name="ClassId" value="@Model.ClassId" />
                <input type="hidden" name="FacultyId" value="@Model.FacultyId" />

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="FacultyName" value="@Model.FacultyName" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Class Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="ClassName" value="@Model.ClassName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" name="Description" rows="5">@Model.Description</textarea>
                    </div>
                </div>

                <br />

                <div style="float:left;">
                    <input type="button" class="btn btn-primary" value="Update" style="width: 80px;" onclick="Load.Action('/Class/EditPost', '/Class/List')" />

                    <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Class/List', @Model.FacultyId);" />
                </div>

                <div style="clear: left;"></div>

                <br />

                <p id="error"></p>
            </form>
        </div>
        <div class="tab-pane fade" id="tab2primary">Primary 2</div>
        <div class="tab-pane fade" id="tab3primary">Primary 3</div>
    </div>
</div>

<input type="hidden" id="status" value="1" />
