﻿

@model WebMvc_Training.Business.ViewModel.SubjectViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Chinh sua thong tin</a></li>
    </ul>
</div>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">

            <form class="formAction">
                <input type="hidden" name="SubjectId" value="@Model.SubjectId" />
                <input type="hidden" name="FacultyId" value="@Model.FacultyId" />

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="FacultyName" value="@Model.FacultyName" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Subject Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="SubjectName" value="@Model.SubjectName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Description: </label>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="5" name="Description">@Model.Description</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Address: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Address" value="@Model.Document1" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Phone: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Phone" value="@Model.Document2" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Note: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Note" value="@Model.Document3" />
                    </div>
                </div>

                <br />

                <div style="float:left;">
                    <input type="button" class="btn btn-primary" value="Update" style="width: 80px;" onclick="Load.Action('/Subject/EditPost', '/Subject/List')" />

                    <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Subject/List', @Model.FacultyId);" />
                </div>

                <div style="clear: left;"></div>

                <br />

                <p id="error"></p>
            </form>

        </div>

    </div>
</div>
<input type="hidden" id="status" value="1" />
