﻿
@model IEnumerable<WebMvc_Training.Business.ViewModel.SubjectViewModel>

<h2>Danh sach mon hoc</h2>

<br />

<div class="form-inline">
    <div class="form-group">
        <label class="col-md-4" style="margin-left: -14px; font-size: 120%;">Faculty</label>
        <div class="col-md-6">
            <select class="form-control col-md-6" style="margin-top: -6px;">
                <option value="0"></option>
                @foreach (var item in ViewData["Faculties"] as List<WebMvc_Training.Business.ViewModel.FacultyViewModel>)
                {
                    int id = (int)ViewData["FacultyId"];
                    if (item.FacultyId == id)
                    {
                        <option value="@item.FacultyId" selected>@item.FacultyName</option>
                    }
                    else
                    {
                        <option value="@item.FacultyId">@item.FacultyName</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<br />

<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Faculty</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{ int i = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.SubjectName</td>
                <td>@item.FacultyName</td>
                <td><a href="#" onclick="Load.LoadPage('/Subject/Detail', @item.SubjectId)">Detail</a></td>
                <td><a href="#" onclick="Load.LoadPage('/Subject/Edit', @item.SubjectId)">Edit</a></td>
                <td><a href="#" onclick="Load.DeleteAction('/Subject/Delete', '/Subject/List', @item.SubjectId, 1)">Delete</a></td>
            </tr>

            i++;
        }
    </tbody>
</table>

<br />

<input type="button" value="Create" class="btn btn-primary" style="width: 80px;" onclick="Load.LoadPage('/Subject/Create');" />

<script>
    $('select').change(function () {
        Load.LoadPage('/Subject/List', $(this).val());
    });
</script>