﻿@model IEnumerable<WebMvc_Training.Business.ViewModel.GradeStudentViewModel>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Ten mon hoc</th>
            <th>Diem</th>
        </tr>
    </thead>

    <tbody>
        @{ int i = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.SubjectName</td>
                <td>@item.Point</td>
            </tr>

            i++;
        }
    </tbody>
</table>
