﻿@model IEnumerable<WebMvc_Training.Business.ViewModel.GradeStudentViewModel>

<div class="listPoint">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Ten mon hoc</th>
                <th>Diem</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{ int i = 1; }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.SubjectName</td>
                    <td>
                        <input type="number" class="form-control point" value="@item.Point" disabled max="10" min="0" />
                    </td>
                    <td>
                        <input type="hidden" class="teacher" value="@item.TeacherId"/>
                        <input type="hidden" class="subject" value="@item.SubjectId"/>
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary btnUpdate" value="Update" />
                        <input type="button" class="btn btn-success btnOk" value="OK" disabled />
                        <input type="button" class="btn btn-danger btnCancel" value="Cancel" disabled />
                    </td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>
<script>
    $('.btnUpdate').click(function () {
        $(this).prop('disabled', true);
        $(this).closest('tr').find('.point').prop('disabled', false);
        $(this).parent().find('.btnOk, .btnCancel').prop('disabled', false);
    });

    $('.btnOk, .btnCancel').click(function () {
        $(this).prop('disabled', true);
        $(this).closest('tr').find('.point').prop('disabled', true);
        $(this).parent().find('.btnUpdate').prop('disabled', false);

        debugger
        if ($(this).val() == 'OK') {

            var teacherId = $(this).closest('tr').find('.teacher').val();
            var subjectId = $(this).closest('tr').find('.subject').val();
            var point = $(this).closest('tr').find('.point').val();

            $.ajax({
                url: '/GradeStudent/Edit',
                type: 'POST',
                data: {
                    'studentId': @ViewData["StudentId"],
                    'semesterId': @ViewData["SemesterId"],
                    'teacherId': teacherId,
                    'subjectId': subjectId,
                    'point': point
                },
                success: function (data) {
                    if (data.Message == 'Success') {
                    }
                }
            });
        }

        $('.listPoint').load('/GradeStudent/ListPlus', {'studentId' : @ViewData["StudentId"], 'semesterId': @ViewData["SemesterId"] });
    });
</script>