﻿<h2>Them moi ban ghi</h2>

<br />

<form class="formAction">
    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
        <div class="col-md-6">
            <input class="form-control required" name="FacultyName" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Description</label>
        <div class="col-md-6">
            <textarea class="form-control" name="Description" rows="5" />
        </div>
    </div>

    <br/> 

    <div style="float:left;">
        <input type="button" class="btn btn-primary" value="Create" style="width: 80px;" onclick="Load.Action('/Faculty/CreatePost', '/Faculty/List')" />

        <a href="@Url.Action("List", "Faculty")">
            <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" />
        </a>
    </div>
    
    <div style="clear: left;"></div>
    
    <br/>

    <p id="error"></p>
</form>

<input type="hidden" id="status" value="0"/>