﻿@model WebMvc_Training.Business.ViewModel.FacultyViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Chinh sua thong tin</a></li>
    </ul>
</div>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">

            <form class="formAction">

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">FacultyId</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.FacultyId" name="FacultyId" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">FacultyName</label>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.FacultyName" name="FacultyName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="5" name="Description">@Model.Description</textarea>
                    </div>
                </div>

                <div style="float: left">
                    <input type="button" class="btn btn-primary" onclick="Load.Action('/Faculty/EditPost', '/Faculty/List')" value="Update" style="width: 80px;" />

                    <a href="@Url.Action("List", "Faculty")">
                        <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" />
                    </a>
                </div>

                <div style="clear: both;"></div>

                <br />

                <p id="error"></p>
            </form>

        </div>

    </div>
</div>

<input type="hidden" id="status" value="0" />
