﻿@model IEnumerable<WebMvc_Training.Business.ViewModel.FacultyViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sach khoa </h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{  int i = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.FacultyName</td>
                <td><a href="#" onclick="Load.LoadPage('/Faculty/Detail', @item.FacultyId)">Detail</a></td>
                <td><a href="#" onclick="Load.LoadPage('/Faculty/Edit', @item.FacultyId)">Edit</a></td>
                <td><a href="#" onclick="Load.DeleteAction('/Faculty/Delete', '/Faculty/List', @item.FacultyId, 0)">Delete</a></td>
            </tr>

            i++;
        }
    </tbody>
</table>

<br/>

<input type="button" value="Create" class="btn btn-primary" style="width: 80px;" onclick="Load.LoadPage('/Faculty/Create');"/>
