﻿<h2>Them moi ban ghi</h2>

<br />

<form class="formAction">
    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
        <div class="col-md-6">
            <select name="FacultyId" class="form-control required">
                <option></option>
                @foreach (var item in ViewData["Faculties"] as List<WebMvc_Training.Business.ViewModel.FacultyViewModel>)
                {
                    <option value="@item.FacultyId">@item.FacultyName</option>
                }
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Teacher Name: </label>
        <div class="col-md-6">
            <input class="form-control required" name="TeacherName" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Address: </label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="Address" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Phone: </label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="Phone" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2" style="font-size: 120%;">Note: </label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="Note" />
        </div>
    </div>

    <br />

    <div style="float:left;">
        <input type="button" class="btn btn-primary" value="Create" style="width: 80px;" onclick="Load.Action('/Teacher/CreatePost', '/Teacher/List')" />

        <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Teacher/List');" />
    </div>

    <div style="clear: left;"></div>

    <br />

    <p id="error"></p>
</form>

<input type="hidden" id="status" value="1" />
