﻿

@model WebMvc_Training.Business.ViewModel.TeacherViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Thong tin</a></li>
    </ul>
</div>
<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">
            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">ClassId</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.TeacherId" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">ClassName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.TeacherName" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">FacultyName</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.FacultyName" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Address</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Address" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Phone</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Phone" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" style="font-size: 120%;">Note</label>
                <div class="col-md-6">
                    <input class="form-control" value="@Model.Note" disabled />
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Teacher/List', @Model.FacultyId);" />