﻿
@model WebMvc_Training.Business.ViewModel.TeacherViewModel

<div class="panel-heading">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1primary" data-toggle="tab">Chinh sua thong tin</a></li>
    </ul>
</div>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1primary">
            <form class="formAction">
                <input type="hidden" name="TeacherId" value="@Model.TeacherId" />
                <input type="hidden" name="FacultyId" value="@Model.FacultyId" />

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Faculty Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="FacultyName" value="@Model.FacultyName" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Teacher Name: </label>
                    <div class="col-md-6">
                        <input class="form-control required" name="TeacherName" value="@Model.TeacherName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Address: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Address" value="@Model.Address" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Phone: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Phone" value="@Model.Phone" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2" style="font-size: 120%;">Note: </label>
                    <div class="col-md-6">
                        <input class="form-control" name="Note" value="@Model.Note" />
                    </div>
                </div>

                <br />

                <div style="float:left;">
                    <input type="button" class="btn btn-primary" value="Update" style="width: 80px;" onclick="Load.Action('/Teacher/EditPost', '/Teacher/List')" />

                    <input type="button" class="btn btn-primary" value="Back" style="width: 80px;" onclick="Load.LoadPage('/Teacher/List', @Model.FacultyId);" />
                </div>

                <div style="clear: left;"></div>

                <br />

                <p id="error"></p>
            </form>

        </div>

    </div>
</div>

<input type="hidden" id="status" value="1" />
